@import components/_reset
@import components/_colors

.header
    width: 100vw
    height: 10vh
    display: flex
    justify-content: space-around
    align-items: center
    border-bottom: 1px solid $gray

    &__links
        display: flex
        justify-content: flex-end
        p
            margin:10px
            
    &__nav
        display: flex
        font-size: 1.3em
        order: 2
        ul
            display: none

.banner
    display: none

.ariana
    font-weight: 200
    margin: 10px 10px

.product-title
    display: flex
    justify-content: space-between

    h2
        font-weight: 200
        margin: 5px 10px
.filter-one>ul
    display: flex
    list-style: none
    justify-content: space-around
    margin: 20px
.products
    width: 100%
    height: auto
    display: flex
    flex-wrap: wrap
    justify-content: space-between
.single-product
    width: 48%
    height: auto
    margin-top: 20px

    img
        max-width: 100%
    &__data
        display: flex
        flex-direction: column
        margin: 10px
    &__title, &__description, &__price 
        font-weight: 200
        margin-left: 10px
    &__price
        font-weight: normal
.footer
    background-color: black
    height: auto
    width: 100vw
    color: $white
    margin-top: 20px
    display: flex
    flex-direction: column
    justify-content: space-arround
    
    &__list
        width: 100vw
    &__nav-element
        list-style: none
        font-size: 0.8em
        margin: 10px 
    &__help, &__about
        margin: 10px
        border-top: 1px solid $white
        border-bottom: 1px solid $white
        padding: 10px 0px
    &__social
        display: flex
        _width: 100vw
    &__social-nav
        width: 100vw
        display: flex
        list-style: none
    &__social-icon
        margin: 10px
        i
            font-size: 2em
            border-radius: 50%

       

@media only screen and (min-width: 768px)
    body
        font-size: 1.3em

    .ariana
        margin: 10px 20px
    .product-title
        h2
            margin: 10px 20px
    .filter-one>ul
        justify-content: flex-start
        li
            margin-right: 20px
    .footer
        flex-direction: row
        align-content: center
        &__help, &__about
            border: none
            padding: 0
            margin-right: 50px
        &__social-icon
            margin-right: 20px

@media only screen and (min-width: 1080px)
    .header
        display: flex
        height: 20vh
        &__nav
            font-size: 1em
            order: 0
        &__hamburger
            display: none
        ul
            display: flex
            list-style: none

            li
                margin: 10px
    .banner
        display: flex
        height: 10vh
        background-color: $gray
        align-items: center
        text-align: center
        justify-content: center
                