<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{margin: 0;}
        div{border: 1px solid black;
        box-sizing: border-box;}

        .flex{
            display: flex;

        }
    </style>
</head>
<body>
    <div  style="height: 10vh;">HEADER</div>
    <div class="flex">
    <div  style="width: 20%; height: 80vh;">NAV</div>
    <div  style="width: 60%; height: 80vh;">MAIN</div  style="width: 20%">
    <div  style="width: 20%; height: 80vh;">ASIDE</div  style="width: 20%">
    </div>
    <div  style="height: 10vh">FOOTER</div>
</body>
</html>