<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{margin: 0;}
        div{border: 5px solid black;
        box-sizing: border-box;}
      
    </style>
</head>
<body>
    <div style="height: 10vh; width: 100%;" >HEADER</div>
    <div style="float: left; width: 20%; height: 80vh">NAV</div>
    <div style="float: left; width:  60%; height: 80vh">MAIN</div>
    <div style="float: left; width:  20%; height: 80vh">ASIDE</div>
    <div style="  float: left; width: 100%; height: 10vh;">FOOTER</div>
    
</body>
</html>