<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style> 
        *{margin: 0;}
        table {
            border-collapse: collapse;
        }
         
        table,
        th,
        td {
            border: 1px solid black;
        }
         
        th,
        td {
            padding: 5px;
        }</style>
</head>
<body>
    <table style="width: 100%;" >
        <tbody>
        <tr>
            <td colspan="3"  style="height: 10vh">HEADER</td>
        </tr>
        <tr>
        <td style="height: 80vh; width: 20%;">NAV</td>
        <td style="height: 80vh; width: 60%;">MAIN</td>
        <td style="height: 80vh; width: 20%;">ASIDE</td>
        </tr>
        <tr>
            <td colspan="3" style="height: 10vh">FOOTER</td>
        </tr>
        </tbody>
        </table>
</body>
</html>