*
    margin: 0
    padding: 0
    font-size: 10px
    list-style: none
h2 
    font-size: 2.5rem
html,body
    height: 100vh
    width: 100vw

button,
input,
optgroup,
select,
textarea
    font-family: inherit
    font-size: 1rem
    line-height: 1.15
    margin: 0
button,
select,
[type="button"]
    text-transform: none
    border: none
    text-decoration: none
    text-align: center
    background-color: transparent
.fas 
    font-size: 2rem
