.footer
    display: flex
    flex-wrap: wrap
    color: white
    background-color: black
    padding: 10px

    &__map, &__faqs, &__social, &__location, &__legal
        margin: 10px
.footer__social-media > ul
    display: flex
    color: grey

.fab
     margin: 5px
     font-size: 3rem   

.footer__list
        font-size: 100px


.footer__location
    margin: 15px
    font-size: 2rem 

.footer__legal > ul > li 
    margin: 5px
    color: grey
    font-size: 2rem

.footer__map > ul > li
    margin-top: 10px 
    font-size: 1.5rem 

.footer__faqs > ul > li
    margin-top: 60px 
    font-size: 1.5rem
