.product
    width: 49.5%
    margin-bottom: 65px
    &__name
        font-size: 2.5rem
        margin: 5px
    &__especification
        font-size: 2rem
        margin: 5px
    &__price
        font-size: 2rem
        margin: 5px

.product > img
    width: 100%
 

    