.register
    display: flex
    flex-direction: column
    justify-content: center
    &__logo
        @extend %logo
        border-bottom: 2px solid #EF9F1B
    & >h2
        text-align: center
    & >input
        text-align: center
        background-color: white
        height: 30px
        width: 95%
        border-radius: 15px
    & >button
        background-color: #EF9F1B
        height: 30px
        width: 95%
        border-radius: 15px
    & >a
        text-align: center