.main-header

    display: flex
    justify-content: space-between
    width: 100%
    height: 4.5rem
    border-bottom: 0.3px solid lightgrey

    &__logo-container
        width: 15%
    &__logo-img
        margin: 0 2rem
        width: 100%

    &-actions
        display: flex
        justify-content: space-evenly
        width: 50%

        &__query, &__nav
            display: none
        &__nav-button
            padding-top: 1.3rem
        &__query-btn, &__cart, &__nav-button
            font-size: 1.5rem

.header-alt-nav
    display: none
