.product
    padding-bottom: 4rem
    width: 49.5%
    display: flex
    flex-direction: column
    &__img-container > img
        margin-bottom: 1rem
        width: 100%

    &__title
        line-height: 1.8rem
        font-size: 1.1rem
        padding-left: 0.5rem
    &__info
        color: grey
        line-height: 1.5rem
        font-size: 1.1rem
        padding-left: 0.5rem
    &__price
        line-height: 1.8rem
        font-size: 1.1rem
        padding-left: 0.5rem
