.flex__container{
  /* ----- flexbox init ----- */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* align-content: flex-start; */
  /* align-content: center; */
  /* align-content: flex-end; */
  align-content: space-between;
  /* align-content: baseland; */
  
  /* ----- flexbox end ----- */
  height: 500px;
  border-radius: 6px;
  padding: 10px;
  background: #22a6b3;
  color: #2c3e50;
}

.flex__item {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  width: 10%;
  height: 40px;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background: #7ed6df;
  color: #2c3e50;
}