body {
    background-color: yellow;
    border: 5px solid rgb(48, 96, 151);
}

h1 {
    cursor: pointer;
    color:blue;
}
h2 {
    cursor: pointer;
    color:rgb(230, 38, 86);
}
p {
    cursor: pointer;
    color:rgb(0, 255, 55);
}
button {
    background: tomato;
    font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
    cursor: pointer;
}