.footer 
    background-color: black
    color : white
    display: flex
    flex-direction: column
    @media screen and ( min-width: 500px )
        display: none

    &__help-container
        display: flex
        justify-content: space-between
        font-size: 0.5rem
        margin: 10px

    &__links
        padding-left: 10px
    &__links > i
        margin-right: 10px    
    &__options
        font-size: 0.5rem
        margin: 10px

    &__options > p
        margin: 10px

    &__conditions 
        color: gray
    &__politics 
        font-size: 0.5rem
        margin: 10px
p 
    margin: 0