.header 
    display: flex
    justify-content: space-between
    border-bottom: 1px solid gray

    &__container-items
        display: flex
        @media screen and ( min-width: 900px)
            display: none
    &__items
        margin: 1vh 3vh

    &__logo
        margin: 1vh 3vh        
        @media screen and ( min-width: 900px)
            display: none
                