.header
    &__desktop-container
        flex-wrap: nowrap
        display: flex
        margin: 0
        height: 50px
        align-items: center
        @media screen and ( max-width: 900px)
            display: none

    &__list-items
        display: flex
        list-style: none
        color: gray
        padding: 0