.nav-menu
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid gray
    @media screen and ( max-width:900px  )
        display: none
    &__links
        padding-right: 15px
    &__search
        margin-right: 10px
        height: 30px    