main
  margin-top: 10vh
  
  nav
    display: none

  section
    h2
      text-align: center
      margin-bottom: 15px

@media (min-width: 1025px)
  main
    display: flex
    justify-content: space-evenly

    nav
      display: block
      width: 17%

      h2
        text-align: right
        margin-top: 20px

    section
      width: 78%
      margin: 75px 0px 15px 0px

      h2
        margin-top: 25px
        display: none
