<html>
<head>
    <style>
        body {
            margin: 0;
        }
        table {
            width: 100%;
            height: 100vh;
        }
        td {
            border: 1px solid black;
        }
        tr:only-child {
            width: 100%;
            background-color: #red;
        }
        td[colspan] {
            height: 20%;
        }
        .side {
            width: 20%;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td colspan="3" >
                <header>Header</header>
            </td>
        </tr>
        <tr>
            <td class="side">
                <nav>Nav</nav>
            </td>
            <td>
                <main>Main</main>
            </tdcolspan="2">
            <td class="side">
                <aside>Aside</aside>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <footer>Footer</footer>
            </td>
        </tr>
    </table>
</body>
</html>