=width-height-margin($width, $height, $margin-top_bottom, $margin-right_left)
  width: $width
  height: $height
  margin: $margin-top_bottom $margin-right_left


=width-height($width, $height)
  width: $width
  height: $height