<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram - Profile post</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <div class="header__logo">
            logo
        </div>
        <div class="header__searchbar">
            searchbar
        </div>
        <div class="header__navigations">
            navigations
        </div>
    </header>

    <main class="profilePostPage page__body">
        <div class="content">
            <div class="postPreview">
                <div class="postPreview__media"></div>
                <div class="postPreview__details">
                    <header class="postPreview__header card__header">
                        <section class="card__stories stories">
                            <div class="stories__story stories__story-active">
                                <div class="story__image"></div>
                            </div>
                            <div class="card__userName">seeker</div>
                        </section>
                        <div class="card__options"><span>...</span></div>
                    </header>
                    <div class="postPreview__comments">
                        <div class="card__header">
                            <section class="card__stories stories">
                                <div class="stories__story stories__story-active">
                                    <div class="story__image"></div>
                                </div>
                                <div class="card__userName">seeker</div>
                            </section>
                        </div>
                        <div class="card__header">
                            <section class="card__stories stories">
                                <div class="stories__story stories__story-active_">
                                    <div class="story__image"></div>
                                </div>
                                <div class="card__userName">seeker</div>
                            </section>
                        </div>
                        <div class="card__header">
                            <section class="card__stories stories">
                                <div class="stories__story stories__story-active_">
                                    <div class="story__image"></div>
                                </div>
                                <div class="card__userName">seeker</div>
                            </section>
                        </div>
                        <div class="card__header">
                            <section class="card__stories stories">
                                <div class="stories__story stories__story-active">
                                    <div class="story__image"></div>
                                </div>
                                <div class="card__userName">seeker</div>
                            </section>
                        </div>
                        <div class="card__header">
                            <section class="card__stories stories">
                                <div class="stories__story stories__story-active">
                                    <div class="story__image"></div>
                                </div>
                                <div class="card__userName">seeker</div>
                            </section>
                        </div>
                        <div class="card__header">
                            <section class="card__stories stories">
                                <div class="stories__story stories__story-active_">
                                    <div class="story__image"></div>
                                </div>
                                <div class="card__userName">seeker</div>
                            </section>
                        </div>
                        <div class="card__header">
                            <section class="card__stories stories">
                                <div class="stories__story stories__story-active_">
                                    <div class="story__image"></div>
                                </div>
                                <div class="card__userName">seeker</div>
                            </section>
                        </div>
                        <div class="card__header">
                            <section class="card__stories stories">
                                <div class="stories__story stories__story-active_">
                                    <div class="story__image"></div>
                                </div>
                                <div class="card__userName">seeker</div>
                            </section>
                        </div>
                    </div>
                    <div class="postPreview__interractionBtns">

                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>