<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram - Profile</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <div class="header__logo">
            logo
        </div>
        <div class="header__searchbar">
            searchbar
        </div>
        <div class="header__navigations">
            navigations
        </div>
    </header>

    <main class="profilePage page__body">
        <section class="userInfo">
            <div class="userInfo__secondaryDetails">
                <div class="userInfo__profilePic"></div>
            </div>
            <div class="userInfo__profileDescription">

            </div>
        </section>
        <section class="profile__stories stories">
            <div class="stories__story stories__story-active">
                <div class="story__image"></div>
            </div>
            <div class="stories__story stories__story-active">
                <div class="story__image"></div>
            </div>
            <div class="stories__story stories__story-active">
                <div class="story__image"></div>
            </div>
            <div class="stories__story stories__story-active">
                <div class="story__image"></div>
            </div>
            <div class="stories__story">
                <div class="story__image"></div>
            </div>
            <div class="stories__story">
                <div class="story__image"></div>
            </div>
            <div class="stories__story">
                <div class="story__image"></div>
            </div>
            <div class="stories__story">
                <div class="story__image"></div>
            </div>
        </section>

        <div class="content">
            <div class="profilePosts">
                <div class="profilePosts__post"></div>
                <div class="profilePosts__post"></div>
                <div class="profilePosts__post"></div>
            </div>
            <div class="profilePosts">
                <div class="profilePosts__post"></div>
                <div class="profilePosts__post"></div>
                <div class="profilePosts__post"></div>
            </div>
            <div class="profilePosts">
                <div class="profilePosts__post"></div>
                <div class="profilePosts__post"></div>
                <div class="profilePosts__post"></div>
            </div>
            <div class="profilePosts">
                <div class="profilePosts__post"></div>
                <div class="profilePosts__post"></div>
                <div class="profilePosts__post"></div>
            </div>
        </div>
    </main>
</body>

</html>