body{
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

/*resposive image*/
img{ width: 100%; }

.header{
    background-color: #ffffff;
    height: 80px;
    border-bottom: 1px solid #cccccc;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.page__body{
    transition: margin 500ms ease;
}

.stories{
    overflow-x: scroll;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.stories__story{
    height: 80px;
    width: 80px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.stories__story:not(:last-child){
    margin-right: 10px;
}

.stories__story-active{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.story__image{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    background-image: url('images/fake-img_100x100.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card{
    max-width: 600px;
    margin-bottom: 100px;
}

.card__header{
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.card__stories, .lateralMenu__stories{
    overflow: hidden;
    padding: 0;
    display: block;
    border: none;
    display: flex;
    align-items: center;
}

.card__stories .stories__story,
.miniCard__stories .stories__story{
    height: 50px;
    width: 50px;
}

.card__stories .stories__story .story__image,
.miniCard__stories .stories__story .story__image{
    height: 40px;
    width: 40px;
}

.card__userName{
    font-size: .9rem;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.card__options{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 3px;
}

/*.card__media{
    background-image: url('images/fake-img_smiley.png');
    background-position: center;
    background-repeat: no-repeat;
}*/

.card__footer{
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card__interactions{
    display: flex;
    justify-content: space-between;
}

.card__directInteractions, .card__indirectInteractions{
    border: 1px solid #cccccc;
    height: 30px;
}

.card__directInteractions{
    width: 200px;
}

.card__indirectInteractions{
    width: 50px;
}

.card__interactionsDetails{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card__details{
    padding-left: 20px;
}

.card__caption{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #292929;
}

.card__caption-secondary{
    color: #9b9b9b;
}

.card__comments{
    margin-top: 10px;
}

.miniCard{
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
    margin-bottom: 20px;
}

.miniCard.miniCard-scrollY{
    overflow-y: scroll;
}

.lateralMenu{
    display: none;
}

/* PROFILE POST*/
.userInfo{
    padding: 50px;
}

.userInfo__profilePic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('images/fake-img_100x100.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.profile__stories{
    border-bottom: none;
}

.profilePage.page__body{
    width: 70%;
    max-width: 70%;
    margin: auto;
}

.profilePosts{
    display: flex;
    margin-bottom: 10px;
}

.profilePosts .profilePosts__post{
    flex: 1 0 auto;
    max-width: 33.33%;
    /*width: 33.33%;*/
    height: 150px;
    background-image: url('images/fake-img_smiley.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profilePosts .profilePosts__post:not(:last-of-type){
    margin-right: 10px;
}

.postPreview{
    width: 95%;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    margin: auto;
    margin-top: 100px;
    display: flex;
    /*overflow: hidden;*/
    height: 400px;
    transition: width 500ms ease;
}

.postPreview__media{
    flex: 1 1 auto;
    height: 400px;
    width: 60%;
    max-width: 60%;
    background-image: url('images/fake-img_smiley.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postPreview__details{
    flex: 1 1 auto;
    position: relative;
    width: 40%;
    max-width: 40%;
    overflow-y: scroll;
}

.postPreview__header{
    height: 80px;
    border-bottom: 1px solid #cccccc;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.postPreview__interractionBtns{
    height: 80px;
    border-top: 1px solid #cccccc;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
}

.postPreview__media{
    grid-area: postPreviewMedia;
}

.postPreview__details{
    grid-area: postPreviewDetails;
}


/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 991.98px) {
    /*.profilePage.page__body{
        max-width: none;
    }*/

    .feedPage .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*.profilePage.page__body{
        margin: auto;
    }*/

    .postPreview{
        display: block;
        margin-top: 10px;
        /*overflow: visible;*/
    }

    .postPreview__media,
    .postPreview__details{
        width: 100%;
        max-width: 100%;
    }

    .postPreview__details{
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-radius: 0 0 3px 3px;
    }

    .postPreview__media{
        flex: none;
        height: 350px;
    }

    .postPreview__comments{
        height: 200px;
        overflow-y: scroll;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*.profilePage.page__body{
        max-width: none;
    }*/

    .postPreview{
        width: 70%;
    }

    .feedPage .content{
        margin-right: 50px;
    }

    .lateralMenu{
        display: block;
        width: 20%;
    }

    .feedPage.page__body{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .lateralMenu__user{
        margin-bottom: 20px;
    }

    .header__stories.stories{
        display: none;
    }

    .card{
        border: 1px solid #cccccc;
        border-radius: 3px;
    }

    .lateralMenu__stories .stories__story{
        height: 60px;
        width: 60px;
    }

    .lateralMenu__stories .stories__story .story__image{
        height: 50px;
        width: 50px;
    }

    .miniCard__stories{
        overflow: hidden;
        padding: 0;
        display: block;
        border: none;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .miniCard__stories .stories__story{
        height: 50px;
        width: 50px;
    }

    .miniCard__stories .stories__story .story__image{
        height: 40px;
        width: 40px;
    }

    .miniCard__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}