<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="deploy-menu.css">
    <title>Deploy Menu</title>
</head>
<body>
    <div class="footer__deploy-menu deploy-menu">
        <span class="deploy-menu__title">OBTENER AYUDA<i class="fas fa-plus deploy-menu__show-more-icon"></i></span>
        <ul class="deploy-menu__list">
            <li class="deploy-menu__link">Estado del pedido</li>
            <li class="deploy-menu__link">Envío y entrega</li>
            <li class="deploy-menu__link">Devoluciones</li>
            <li class="deploy-menu__link">Opciones de pago</li>
            <li class="deploy-menu__link">Contacta con nosotros</li>
        </ul>
    </div>
</body>
</html>