<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Nike Footer</title>
</head>
<body>
    <footer class="footer">
        <nav class="footer__menu">
            <ul class="footer__menu-list">
                <li class="footer__link">TARJETA DE REGALO</li>
                <li class="footer__link">TIENDAS MÁS CERCANAS</li>
                <li class="footer__link">REGÍSTRARSE PARA RECIBIR CORREOS ELECTÓNICOS</li>
                <li class="footer__link">HAZTE MIEMBRO</li>
                <li class="footer__link">DESCUENTO PARA ESTUDIANTES</li>
                <li class="footer__link">COMENTARIOS SOBRE LA WEB</li>
            </ul>
        </nav>
        <div class="footer__split"></div>
        <div class="footer__support-about">
            <div class="footer__deploy-menu deploy-menu">
                <span class="deploy-menu__title">OBTENER AYUDA<i class="fas fa-plus deploy-menu__show-more-icon"></i></span>
                <ul class="deploy-menu__list">
                    <li class="deploy-menu__link">Estado del pedido</li>
                    <li class="deploy-menu__link">Envío y entrega</li>
                    <li class="deploy-menu__link">Devoluciones</li>
                    <li class="deploy-menu__link">Opciones de pago</li>
                    <li class="deploy-menu__link">Contacta con nosotros</li>
                </ul>
            </div>
            <div class="footer__deploy-menu deploy-menu">
                <span class="deploy-menu__title">ACERCA DE NIKE<i class="fas fa-plus deploy-menu__show-more-icon"></i></span>
                <ul class="deploy-menu__list">
                    <li class="deploy-menu__link">Noticias</li>
                    <li class="deploy-menu__link">Empleo</li>
                    <li class="deploy-menu__link">Inversores</li>
                    <li class="deploy-menu__link">Sostenibilidad</li>
                </ul>
            </div>
        </div>
        <nav class="footer__social">
            <ul class="footer__social-list">
                <li class="footer__social-link"><i class="fab fa-twitter-square footer__social-icon"></i></li>
                <li class="footer__social-link"><i class="fab fa-facebook-square footer__social-icon"></i></li>
                <li class="footer__social-link"><i class="fab fa-youtube-square footer__social-icon"></i></li>
                <li class="footer__social-link"><i class="fab fa-instagram footer__social-icon"></i></li>
            </ul>
        </nav>
        <footer class="footer__footer">
            <div class="footer__legal-info">
                <div class="footer__ubication">
                    <i class="fas fa-map-marker-alt footer__ubication-icon"></i>
                    <span class="footer__text">España</span>
                </div>
                <span class="footer__copyright">© 2020 Nike, Inc. Todos los derechos reservados</span>
            </div>
            <nav class="footer__legal-menu">
                <ul class="footer__legal-list">
                    <li class="footer__legal-link">Guías</li>
                    <li class="footer__legal-link">Condiciones de uso</li>
                    <li class="footer__legal-link">Condiciones de venta</li>
                    <li class="footer__legal-link">Políticas de privacidad y cookies</li>
                    <li class="footer__legal-link">Aviso legal</li>
                    <li class="footer__legal-link">Configuración de cookies</li>
                </ul>
            </nav>
        </footer>
    </footer>
</body>
</html>