<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="style.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<figure class="header__logo-container">
				<img class="header__logo-image" src="" alt="" />
				LOGO
			</figure>
			<nav class="header__nav">
				<ul>
					<li>item1</li>
					<li>item2</li>
					<li>item3</li>
				</ul>
			</nav>
		</header>
		<main class="feed">
			<section class="stories">
				<ul>
					<li>imagen</li>
					<li>imagen</li>
					<li>imagen</li>
					<li>imagen</li>
					<li>imagen</li>
				</ul>
			</section>
			<section class="feed__post-section">
				<div class="post">
					<header class="post__header">
						<div class="post__author">
							<p>photo</p>
							<p>name</p>
						</div>
						<div>...</div>
					</header>
					<div class="post__image">
						IMAGEN
					</div>
					<section class="post__comments-area">
						<section class="post__actions">
							<div class="heart heart--liked">heart</div>
							<div>comment</div>
							<div>collection</div>
						</section>
						<aside class="post__likes">
							<div>img</div>
							<p>likes</p>
						</aside>
						<section class="post__comments">
							<p>comment</p>

							<p>comment</p>

							<p>comment</p>

							<p>comment</p>

							<p>comment</p>
						</section>
					</section>
				</div>
				<footer class="post__footer">
					<p>Hace 1 hora</p>
				</footer>
			</section>
		</main>
	</body>
</html>
