<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="style.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<figure class="header__logo-container">
				<img class="header__logo-image" src="" alt="" />
				LOGO
			</figure>
			<nav class="header__nav">
				<ul>
					<li>item1</li>
					<li>item2</li>
					<li>item3</li>
				</ul>
			</nav>
		</header>
		<main>
			<section class="profile">
				<header class="profile__header">
					<img class="profile-header__image" src="" alt="" />
					<div class="profile-header__name">
						<h2>Name</h2>
						<span>settings</span>
						<div class="profile-header__action">Editar perfil</div>
					</div>
				</header>
				<aside class="profile__info">
					<h6>Name</h6>
					<p>description</p>
				</aside>
			</section>
			<section class="stories">
				<ul>
					<li>imagen</li>
					<li>imagen</li>
					<li>imagen</li>
					<li>imagen</li>
					<li>imagen</li>
				</ul>
			</section>
			<aside class="profile__followers">
				<div>number</div>
				<div>number</div>
				<div>number</div>
			</aside>
			<section class="profile-posts">
				<header class="profile-posts__header">
					<div>img</div>
					<div>img</div>
					<div>img</div>
					<div>img</div>
				</header>
				<section class="profile-posts__grid">
					<figure class="posts__img">img</figure>
					<figure class="posts__img">img</figure>
					<figure class="posts__img">img</figure>
					<figure class="posts__img">img</figure>
					<figure class="posts__img">img</figure>
					<figure class="posts__img">img</figure>
					<figure class="posts__img">img</figure>
					<figure class="posts__img">img</figure>
					<figure class="posts__img">img</figure>
				</section>
			</section>
		</main>
		<footer></footer>
	</body>
</html>
