body {
    background-color: yellow;
}

h1 {
    cursor: pointer;
    color: blue;
}

button {
    height: 10vh;
    width: 24vh;
    font-size: 2vh;
    color: purple;
    background-color: rosybrown;
}