@import ../utils/_variables
  
.container
  height: 100vh

@media (min-width: $breakpoint-tablet)
  .container
    margin: 0 3vw

@media (min-width: $breakpoint-laptop)
  .container
    margin: 0 18vw