.footer
  height: 9vh
  border: 1px solid blue
  font-size: 26px

  display: flex
  justify-content: space-around
  align-items: center

@media (min-width: $breakpoint-laptop)
  .footer
    display: none