body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.header__nav > ul{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.header__nav > ul > li{
    border: 1px solid black;
    justify-content: space-between;
}

aside > ul{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-content: center; 
}
.page__historis--people > li{
    height: 100%;
}