@import components/menu
@import components/login
@import components/register
@import components/search
@import components/results
@import components/item
@import components/detail

*
    margin: 0
ul
    padding-inline-start: 0px


body   
    width: 100vw
    height: 100vh
    background-color: #2c7873 






h2
    font-family: 'Permanent Marker', cursive