body {
    background-color: yellow;
    border-color: magenta;
    border: 10px;
    border-style: solid;
}

h1 {
    cursor: pointer;
}

button {
    background-color: red;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}