<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Instagram</title>
</head>

<body>
    <!-- HEADER -->
    <header class="header">
        <div class="header__logo">
            <figure class="header__logo-isotype"></figure>
            <div class="header__logo-splitter"></div>
            <figure class="header__logo-logotype"></figure>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-button"></li>
                <li class="header__nav-button"></li>
                <li class="header__nav-button"></li>
            </ul>
        </nav>
    </header>
    <!-- STORIES -->
    <section class="stories">
        <ul class="stories__list">
            <li class="stories__story story">
                <div class="story__avatar avatar">
                    <figure class="avatar__image-container">
                        <img class="avatar__image" src="" alt="">
                    </figure>
                    <span class="avatar__name">loremipsum</span>
                </div>
            </li>
            <li class="stories__story story">
                <div class="story__image avatar">
                    <figure class="avatar__image-container">
                        <img class="avatar__image" src="" alt="">
                    </figure>
                    <span class="avatar__name">loremipsum</span>
                </div>
            </li>
            <li class="stories__story story">
                <div class="story__image avatar">
                    <figure class="avatar__image-container">
                        <img class="avatar__image" src="" alt="">
                    </figure>
                    <span class="avatar__name">loremipsum</span>
                </div>
            </li>
            <li class="stories__story story">
                <div class="story__image avatar">
                    <figure class="avatar__image-container">
                        <img class="avatar__image" src="" alt="">
                    </figure>
                    <span class="avatar__name">loremipsum</span>
                </div>
            </li>
        </ul>
    </section>
    <!-- FEED -->
    <section class="feed">
        <!-- POST -->
        <article class="feed__post post">
            <header class="post__header">
                <div class="post__avatar avatar avatar--small">
                    <figure class="avatar__image-container">
                        <img class="avatar__image" src="" alt="">
                    </figure>
                    <span class="avatar__name"></span>
                </div>
                <span class="post__burger">···</span>
            </header>
            <figure class="post__photo-container">
                <img src="" alt="" class="post__photo">
            </figure>
            <div class="post__user-actions">
                <button class="post__like"></button>
                <button class="post__comment"></button>
                <button class="post__collection"></button>
                <span class="post__likes"></span>
            </div>
            <section class="post__comments">
                
            </section>
        </article>
    </section>
</body>
</html>