@import config
@import utils
@import panel
@import button

.login
    @extend %panel

    +border($border-size, solid, $login-border, $border-radius)
    background-color: $login

    &__field
        +border(.2rem, solid, $login-border, .5rem)
        padding: .3rem
        font-size: 1.1rem

    &__submit
        @extend %button