<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ugly-table.html</title>
</head>
<style>

table {
    width: 90vh;
    height: 90vh;
    border: 2px solid black;
}
.header{
    height: 20%;
    width: 100%;
    border: 2px solid black;
}
.nav{
    height: 60%;
    border: 2px solid black;
    text-align: center;
}
.main{
    height: 60%;
    border: 2px solid black;
    text-align: center;
}
.aside{
    height: 60%;
    border: 2px solid black;
    text-align: center;
}
.footer{
    height: 20%;
    border: 2px solid black;
}

</style>
<body>
    <table>
        <tr>
           <th class='header' colspan="3">HEADER</th>>
        </tr>
        <tr>
            <td class='nav'>NAV</td>>
            <td class='main'>MAIN</td>
            <td class='aside'>ASIDE</td>
         </tr>
         <tr>
            <th class="footer" colspan="3">FOOTER</th>>
         </tr>
    </table>
</body>
</html>