<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
  <!-- edit profile Instagram name & public/privates inputs -->
<body>
    <header class="header">
        <div class="header__image-container">photo</div>
        <figure class="header__prototype-instagram"></figure>
        <div class="header__search-container">search
            <input class="header__input-search"></input>
        </div>
        <div class="header__user">three links</div>
    </header>
    <main class="main-userpage">
        <div class="main-userpage__photo-container">
            <figure class="main-userpage__autophoto"></figure>
            <span class="main-userpage__name"></span>
        </div>
        <div class="main-userpage__main-photos-container">
            <figure class="main-userpage__photo"></figure>
            <figure class="main-userpage__photo"></figure>
            <figure class="main-userpage__photo"></figure>
            <figure class="main-userpage__photo"></figure>
            <figure class="main-userpage__photo"></figure>
        </div>
    </main>
    <section class="followers">
        <div class="followers__publishes">
            <span class="followers__publish"></span>
            <span class="followers__publish"></span>
            <span class="followers__publish"></span>
        </div>
        <div class="followers__isotypes">
            <span class="followers__istoype-item"></span>
            <span class="followers__istoype-item"></span>
            <span class="followers__istoype-item"></span>
        </div>
        <div class="followers__photos-container">
            <figure class="followers__photos">image1</figure>
            <figure class="followers__photos">image2</figure>
            <figure class="followers__photos">image3</figure>
            <figure class="followers__photos">image4</figure>
            <figure class="followers__photos">image5</figure>
            <figure class="followers__photos">image6</figure>
            <figure class="followers__photos">image7</figure>
            <figure class="followers__photos">image8</figure>
            <figure class="followers__photos">image9</figure>
        </div>
    </section>
    <footer class="main-footer">
        <div class="main-footer__items"></div>
        <div class="main-footer__items"></div>
        <div class="main-footer__items"></div>
        <div class="main-footer__items"></div>
        <div class="main-footer__items"></div>
    </footer>
</body>

</html>