<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
  <!-- edit profile Instagram name & public/privates inputs -->
<body>
    <header class="header">
        <div class="header__image-container">photo</div>
        <figure class="header__prototype-instagram"></figure>
        <div class="header__search-container">search
            <input class="header__input-search"></input>
        </div>
        <div class="header__user">three links</div>
    </header>
    <main>
        <section class="main__public-info">
            <figure class="main__editprofile"></figure>
            <div class="main__name"></div>
            <input class="main__fill" type="text">
            <input class="main__fill" type="text">
            <input class="main__fill" type="text">
            <input class="main__descript" type="text"></input>  
        </section>
        <section class="main__private-info">
            <input class="main__fill-private" type="text">
            <input class="main__fill-private" type="text">
            <input class="main__fill-private" type="text">
        </section>
    </main>
    <footer class="main-footer">
        <div class="main-footer__items"></div>
        <div class="main-footer__items"></div>
        <div class="main-footer__items"></div>
        <div class="main-footer__items"></div>
        <div class="main-footer__items"></div>
    </footer>
</body>

</html>