
*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none

html, body
    width: 100vw
    height: 100vh
    font-size: 10px
    box-sizing: border-box

button,
input,
optgroup,
select,
textarea
    font-family: inherit
    font-size: 1rem
    line-height: 1.15
    margin: 0

button,
select,
[type="button"]
    text-transform: none
    button-style: none
    border: none
    text-decoration: none
    text-align: center
    background-color: transparent

@media only screen and (min-width: 1024px)
    body
        font-size: 1.6rem
        line-height: 2