.footer
    background-color: black
    color: white
    padding: 1rem 2rem

    &__site-map
        display: flex
        flex-direction: column

    &__legal-menu

        margin-top: 1.5rem
        line-height: 1.5rem
        color: grey

    &__social-media > nav > ul
        width: 16rem
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 1.5rem
        & li > .fab
            font-size: 3rem
            color: grey
    &__copyright
        margin-top: 1rem

    &__country
        margin: 0 1rem

.site-map

    display: flex
    flex-direction: column
    justify-content: space-between
    &__help-menu, &__about-menu, &__suggestions-menu
        line-height: 2
        margin: 1rem 0

    &__suggestions-menu > ul > li
        font-size: 1.2rem
        font-weight: bold

    &__help-menu > h5, &__about-menu > h5
        font-size: 1.3rem
