* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
}

html, body {
  width: 100vw;
  height: 100vh;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.15;
  margin: 0;
}

button,
select,
[type=button] {
  text-transform: none;
  button-style: none;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}

.main-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 4.5rem;
  padding: 1rem;
  border-bottom: 0.3px solid lightgrey;
}
.main-header__actions {
  display: flex;
  justify-content: space-around;
  width: 12rem;
  padding: 0.4rem;
}
.main-header__actions .fas, .main-header__logo {
  font-size: 2rem;
}

.product {
  padding-bottom: 4rem;
  width: 49.5%;
  display: flex;
  flex-direction: column;
  font-stretch: 100%;
}
.product__img-container > img {
  margin-bottom: 1rem;
  width: 100%;
}
.product__title {
  line-height: 1.8rem;
  font-size: 1.5rem;
}
.product__info {
  color: grey;
  line-height: 1.5rem;
  font-size: 1.5rem;
}
.product__price {
  line-height: 1.8rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .product {
    width: 30%;
  }
}
.main-results {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.main-results__header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
  width: 100vw;
}
.main-results__title > h1 {
  font-size: 2.5rem;
}
.main-results__filter-toggle {
  justify-self: start;
}
.main-results__filter-toggle .fas {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.main-results__products {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}
.footer__site-map {
  display: flex;
  flex-direction: column;
}
.footer__legal-menu {
  margin-top: 1.5rem;
  line-height: 1.5rem;
  color: grey;
}
.footer__social-media > nav > ul {
  width: 16rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.footer__social-media > nav > ul li > .fab {
  font-size: 3rem;
  color: grey;
}
.footer__copyright {
  margin-top: 1rem;
}
.footer__country {
  margin: 0 1rem;
}

.site-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site-map__help-menu, .site-map__about-menu, .site-map__suggestions-menu {
  line-height: 2;
  margin: 1rem 0;
}
.site-map__suggestions-menu > ul > li {
  font-size: 1.2rem;
  font-weight: bold;
}
.site-map__help-menu > h5, .site-map__about-menu > h5 {
  font-size: 1.3rem;
}

@media only screen and (min-width: 1024px) {
  .main-results {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }
  .main-results__header {
    grid-column: 1/span 5;
    padding-right: 1rem;
  }
  .main-results__filter {
    grid-column: 1/span 1;
  }
  .main-results__products {
    grid-column: 2/span 4;
  }

  .product {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
