<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link href="style-profile.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <section class="header__upperbar border">
            <a class="header__back border" href="feed.html"></a>
            <a class="header__user-name border" href="feed.html"></a>
            <a class="header__options border" href="feed.html"></a>
        </section>
        <section class="header__info">
            <div class="header__user-photo border"></div>
            <div class="header__publish"></div>
            <div class="header__followers"></div>
            <div class="header__follows"></div>
        </section>
        <article class="header__personal-info">
            <h4 class="header__profile-name">Username</h4>
            <p class="header__profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </article>
        <section class="header__additional-info">
            <div class="header__follows-info"></div>
            <div class="header__message"></div>
            <div class="header__email"></div>
            <div class="header__more-options"></div>
        </section>
    </header>
    <main class="main">
        <section class="main__stories-bar">
            <div class="main__stories border"></div>
            <div class="main__stories border"></div>
            <div class="main__stories border"></div>
            <div class="main__stories border"></div>
        </section>
        <section class="main__photo-options">
            <div class="main__photo-layout border"></div>
            <div class="main__photo-live border"></div>
            <div class="main__photo-tags border"></div>
        </section>
        <section class="main__photos-display border">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
            <img class="main__picture" src="https://fakeimg.pl/450x200/ff0000%2C128/000%2C255/" alt="">
        </section>
    </main>
    <footer>
        <nav class="nav-bottom border">
            <div class="nav-bottom__home border"></div></div>
            <div class="nav-bottom__search border"></div>
            <div class="nav-bottom__gallery border"></div>
            <div class="nav-bottom__favs border"></div>
            <div class="nav-bottom__profile border"></div>
        </nav>
    </footer>
</body>
</html>