.search
    border: 1px solid black
    border-radius: 1rem

    &--hide
        display: none

    input
        border: 1px solid black
        border-radius: 1rem

    button
        border: 1px solid black
        border-radius: 1rem

.login
    border: 1px solid black
    border-radius: 1rem

    &--hide
        display: none

    input
        border: 1px solid black
        border-radius: 1rem

    button
        border: 1px solid black
        border-radius: 1rem