<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Feed</title>
</head>
<body>
    <header>
        <div class="header__container">
            <div class="header__container1">
                <figure class="header__logoCam">
                    <img src="https://fakeimg.pl/24x24/?text=Logo" alt="">
                </figure>
                <figure class="header__logoInstagram">
                    <img src="https://fakeimg.pl/72x24/?text=Instagram&font=lobster" alt="">
                </figure>
            </div>
            <ul class="header__container2">
                <li class="navIcons__explore">
                    <img src="https://fakeimg.pl/24x24/?text=Compass" alt="">
                </li>
                <li class="navIcons__favsLog">
                    <img src="https://fakeimg.pl/24x24/?text=Heart" alt="">
                </li>
                <li class="navIcons__profile">
                    <img src="https://fakeimg.pl/24x24/?text=MyUser" alt="">
                </li>
            </ul>
        </div>
    </header>
    <main>
        <section class="postUser__container">
            <div class="postMyUser__container2">
                <figure class="postMyUserX__userX">
                    <img src="https://fakeimg.pl/120x32/?text=UserXPhoto+Name" alt="">
                </figure>
                <nav class="postMyUser__options">
                    <img src="https://fakeimg.pl/32x32/?text=..." alt="">
                </nav>
            </div>
            <figure class="postMyUser__photo">
                <img src="https://fakeimg.pl/375x468/?text=Photo&font=lobster" alt="">
            </figure>
        </section>
        <section class="postMyUser__container">
            <ul class="postMyUser__actions">
                <li>
                    <button type="button" class="postMyUser__isFav--red">
                        Heart
                    </button>
                </li>
                <li>
                    <nav class="postMyUser__comment">
                        <img src="https://fakeimg.pl/24x24/?text=Comment" alt="">
                    </nav>
                </li>
                <li>
                    <nav class="postMyUser__sendPost">
                        <img src="https://fakeimg.pl/24x24/?text=SendPost" alt="">
                    </nav>
                </li>
            </ul>
            <button type="button" class="postMyUser__savePost--blue">
                SavePost
            </button>
        </section>
        <span class="postMyUser__likes"><b>115 Likes</b></span>
        <section>
            <form class="postUserX__comments">
                <p><b>User2 has commented:</b>Blah Blah Blah</p>
            </form>
            <form class="postUserX__myComment">
                <input type="text" placeholder="Add a comment">
            </form>
            <form class="postUserX__timeLine">
                <p>HACE 21 HORAS</p>
            </form>
        </section>
    </main>
    <footer class="postFooter__container">
        <div class="postFooter__container1">
            <a>INFORMATION - </a>
            <a> HELP - </a>
            <a> PRESS - </a>
            <a> API - </a>
            <a> JOBS - </a>
            <a> PRIVACY - </a>
            <a> CONDITIONS - </a>
            <a> DIRECTORY - </a>
            <a> PROFILES - </a>
            <a> HASHTAGS - </a>
            <a> LANGUAGE</a>
        </div>
        <div class="postFooter__container2">
            <Span>@ 2020 INSTAGRAM</Span>
        </div>
    </footer>
</body>
</html>