<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Feed</title>
</head>
<body>
    <header>
        <div class="header__container">
            <div class="header__container1">
                <figure class="header__logoCam">
                    <img src="https://fakeimg.pl/24x24/?text=Logo" alt="">
                </figure>
                <figure class="header__logoInstagram">
                    <img src="https://fakeimg.pl/72x24/?text=Instagram&font=lobster" alt="">
                </figure>
            </div>
            <ul class="header__container2">
                <li class="navIcons__explore">
                    <img src="https://fakeimg.pl/24x24/?text=Compass" alt="">
                </li>
                <li class="navIcons__favsLog">
                    <img src="https://fakeimg.pl/24x24/?text=Heart" alt="">
                </li>
                <li class="navIcons__profile">
                    <img src="https://fakeimg.pl/24x24/?text=MyUser" alt="">
                </li>
            </ul>
        </div>
        <div class="secHeader__container">
            <div class="secHeader__container1">
                <img src="https://fakeimg.pl/77x77/?text=MyPic&font=lobster" alt="">
                <span>MyName</span>
            </div>
            <div class="secHeader__container2">
                <img src="https://fakeimg.pl/191x32/?text=MyUsername&font=lobster" alt="">
                <img src="https://fakeimg.pl/32x32/?text=Symbol" alt="">
                <button type="button" class="secHeader__isClicked--red">Edit Profile</button>
            </div>
        </div>
    </header>
    <main>
        <section class="story__container">
            <ul class="story__users">
                <li class="story__user1">
                    <img src="https://fakeimg.pl/64x68/?text=User1" alt="">
                    <span><b>Story1</b></span>
                </li>
                <li class="story__user2">
                    <img src="https://fakeimg.pl/64x68/?text=User2" alt="">
                    <span><b>Story2</b></span>
                </li>
                <li class="story__user3">
                    <img src="https://fakeimg.pl/64x68/?text=User3" alt="">
                    <span><b>Story3</b></span>
                </li>
                <li class="story__user4">
                    <img src="https://fakeimg.pl/64x68/?text=User4" alt="">
                    <span><b>Story4</b></span>
                </li>
                <li class="story__user5">
                    <img src="https://fakeimg.pl/64x68/?text=User5" alt="">
                    <span><b>Story5</b></span>
                </li>
                <li class="story__user6">
                    <img src="https://fakeimg.pl/64x68/?text=User6" alt="">
                    <span><b>Story6</b></span>
                </li>
                <li class="story__user7">
                    <img src="https://fakeimg.pl/64x68/?text=User7" alt="">
                    <span><b>Story7</b></span>
                </li>
                <li class="story__user8">
                    <img src="https://fakeimg.pl/64x68/?text=User8" alt="">
                    <span><b>Story8</b></span>
                </li>
                <li class="story__user9">
                    <img src="https://fakeimg.pl/64x68/?text=User9" alt="">
                    <span><b>Story9</b></span>
                </li>
                <li class="story__user10">
                    <img src="https://fakeimg.pl/64x68/?text=User10" alt="">
                    <span><b>Story10</b></span>
                </li>
            </ul>
        </section>
        <section class="postMyProfile__container1">
            <div class="postMyProfile__containerA">
                <span><b>2.436</b></span>
                <span>posts</span>
            </div>
            <div class="postMyProfile__containerB">
                <span><b>103</b></span>
                <span>followers</span>
            </div>
            <div class="postMyProfile__containerC">
                <span><b>227</b></span>
                <span>following</span>
            </div>
        </section>
        <section class="postMyProfile__container2">
            <img src="https://fakeimg.pl/32x32/?text=Grid" alt="">
            <img src="https://fakeimg.pl/32x32/?text=TV" alt="">
            <img src="https://fakeimg.pl/32x32/?text=Saved" alt="">
            <img src="https://fakeimg.pl/32x32/?text=Profile" alt="">
        </section>
        <section class="postMyProfile__container3">
            <img src="https://fakeimg.pl/123x123/?text=Photo1" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo2" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo3" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo1" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo2" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo3" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo1" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo2" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo3" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo1" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo2" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo3" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo1" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo2" alt="">
            <img src="https://fakeimg.pl/123x123/?text=Photo3" alt="">
        </section>
    </main>
    <footer class="postFooter__container">
        <div class="postFooter__container1">
            <a>INFORMATION - </a>
            <a> HELP - </a>
            <a> PRESS - </a>
            <a> API - </a>
            <a> JOBS - </a>
            <a> PRIVACY - </a>
            <a> CONDITIONS - </a>
            <a> DIRECTORY - </a>
            <a> PROFILES - </a>
            <a> HASHTAGS - </a>
            <a> LANGUAGE</a>
        </div>
        <div class="postFooter__container2">
            <Span>@ 2020 INSTAGRAM</Span>
        </div>
    </footer>
</body>
</html>