* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
font-size: 1rem;
color: black;
background: whitesmoke;
height: 100%;
width: 100%;
}

ul {
    list-style-type: none;
}

.header__container {
    position: fixed;
    top: 0px;
    background-color: #00d5ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38px;
}

.header__container1 {
    position: fixed;
    top: 6px;
    left: 6px;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header__container2 {
    position: fixed;
    top: 6px;
    left: 3px;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header__container1 > figure {
    width: 35px;
    justify-content: space-between;
}

.header__container2 > li {
    width: 35px;
    justify-content: space-between;
}

.secHeader__container {
    margin-top: 38px;
    top: 60px;
    display: flex;
    background-color: lightgreen;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}

.secHeader__container1 {
    margin-bottom: 55px;
    height: 35px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.secHeader__container2 {
    margin-bottom: 30px;
    height: 35px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}
 
.stories__container {
    margin-top: 38px;
    top: 60px;
    display: flex;
    background-color: teal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.story__container {
    top: 60px;
    display: flex;
    background-color: teal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.stories__users {
    top: 200px;
    width: 1000px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.story__users {
    margin-top: 3px;
    top: 200px;
    width: 1000px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postMyProfile__container1 {

    display: flex;
    background-color: lightcoral;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 61px;
}

.postMyProfile__containerA, .postMyProfile__containerB, .postMyProfile__containerC {
    background-color: lightskyblue;
    height: 36px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.postMyProfile__container2 {
    display: flex;
    background-color: lightsalmon;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 44px;
}

.postMyProfile__container3 {
    display: flex;
    background-color: whitesmoke;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 615px;
    flex-basis: 100%;
}

.postUserX__container2 {
    top: 38px;
    display: flex;
    background-color: yellowgreen;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
}

/*Desde aca modifico hago adiciones para Profile-Post*/

.postMyUser__container2 {
    margin-top: 38px;
    top: 38px;
    display: flex;
    background-color: yellowgreen;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 42px;
}

.postUserX__userX {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postMyUser__userX {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postUserX__options {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.postMyUser__options {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.postUserX__photo {
    height: 468px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postMyUser__photo {
    height: 468px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postMyUser__container {
    top: 38px;
    background-color: #84a7ad;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 34px;
}

.postMyUser__actions {
    height: 31px;
    width: 110px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postMyUser__isFav--red:hover, .secHeader__isClicked--red:hover {
    background-color: red;
    color: black;
}

.postMyUser__savePost {
    height: 31px;
    width: 260px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.postMyUser__savePost--blue:hover {
    background-color:blue;
    color: whitesmoke;
}

.postMyUser__likes {
    background-color: tomato;
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postUserX__comments {
    background-color: lightpink;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postUserX__myComment {
    background-color: lightseagreen;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.postUserX__myComment > input {
    width: 100%;
    flex-grow: 1;
}

.postUserX__timeLine {
    background-color: whitesmoke;
    font-size: 0.75rem;
    color: gray;
    height: 18px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.postFooter__container {
    background-color: white;
    font-size: 0.75rem;
    color: gray;
    height: 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postFooter__container > div {
    bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;
}

@media only screen and (min-width: 480px) {
    
    .postUserX__photo {
        max-width: 480px;
        margin: 0 auto;
        }

}