.container
  height: 100vh

  
.product-list
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  width: 100%


.options-container
  margin: 32px 35px 0px 20px


.border-gray
  border: 0.5px solid gray
  margin: 20px 5px