%grid
    display: grid
    grid-template: repeat(2, 1fr) / repeat(2, 1fr)
    grid-gap: 1px

// @media only screen and (min-width: 1024px)

//     %grid-desktop
//         display: grid
//         grid-template: repeat(4, 1fr) / repeat(3, 1fr)
//         grid-gap: 3vh
    
//     %flex-desktop
//         display: flex
//         _flex-direction: row
//         _justify-content: flex-end
//         flex-flow: row wrap