* {
  margin: 0;
  box-sizing: border-box;
}

.nav-upper, .title, .nav-type {
  display: flex;
  flex-direction: row;
  border: 0.5px solid black;
  height: 7vh;
  font-family: Helvetica;
}
.nav-upper__right-side, .nav-type__right-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-upper__search, .title__filter, .nav-upper__option, .nav-type__option, .nav-upper__trolley, .nav-upper__menu, .nav-upper__logo, .nav-type__search, .nav-type__trolley, .nav-type__menu, .nav-type__logo {
  align-self: center;
  padding: 2vh;
}
.nav-upper__option, .nav-type__option {
  font-size: 17px;
  font-family: Helvetica;
}

.nav-desktop {
  display: none;
}

.nav-left {
  display: none;
}

.categorias {
  display: none;
}

.main-grid {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  grid-gap: 1px;
}
.main-grid__picture {
  width: 100%;
  height: 30vh;
}
.main-grid__info {
  width: 100%;
  font-family: Helvetica;
}

@media only screen and (min-width: 1024px) {
  .nav-type {
    display: flex;
    flex-direction: row;
    height: 7vh;
    font-family: Helvetica;
  }

  .nav-desktop {
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 100%;
    border: 0.5px solid black;
    font-family: Helvetica;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 0px;
  }
  .nav-desktop__dif-brands {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .nav-desktop__dif-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .nav-desktop__brand {
    align-self: center;
    padding: 2vh;
    border: 0.5px solid black;
  }
  .nav-desktop__option {
    align-self: center;
    padding: 2vh;
  }

  .nav-upper, .title {
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 7vh;
    width: 100%;
    height: 10vh;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
  }
  .nav-left__category {
    font-size: 15px;
    font-family: Helvetica;
    padding: 3vh;
  }

  .main-gridprueba {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    _width: 100%;
    _justify-content: space-around;
    _margin: 10vh 10vh 10vh 15vh;
    box-sizing: border-box;
  }

  .main-grid__picture {
    _width: 100%;
    _height: 45vh;
    max-height: 90vh;
    max-width: 50vh;
    margin: 3vh;
  }

  .main-grid__info {
    max-width: 50vh;
    margin: 3vh;
  }
}
.categorias {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 4vh;
  _width: 10%;
}

.title {
  padding: 2vh;
  height: 10vh;
  justify-content: space-between;
  background-color: white;
  z-index: 9;
  position: sticky;
  top: 0px;
}
.title__result {
  align-self: center;
  font-family: Helvetica;
  position: sticky;
  top: 0px;
}
.title__filter {
  border: 0.5px solid black;
  background-color: black;
  position: sticky;
  top: 0px;
}

.aside-upper {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .title {
    position: sticky;
    top: 17vh;
    width: 100%;
  }
  .title__result {
    _width: 100%;
  }

  .aside-upper {
    display: inline-block;
    height: 10vh;
    width: 100%;
    color: grey;
    background-color: lightgrey;
    text-align: center;
    margin-top: 17vh;
  }
}
@media only screen and (min-width: 1024px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .main-grid__picture {
    height: 40vh;
  }
  .main-grid__info {
    font-family: Helvetica;
  }
}
.footer-upper, .footer-middleone, .footer-middletwo {
  height: 25vh;
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 13px;
}
.footer-upper__list {
  display: flex;
  flex-direction: column;
  padding: 3vh 2vh;
}
.footer-upper__options {
  padding: 0.5vh;
}

.footer-middleone, .footer-middletwo {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh;
  border: 0.5px solid black;
}

.footer-link, .terms {
  height: 10vh;
  padding: 0 3vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  border: 0.5px solid black;
}
.footer-link__social {
  width: 35px;
  height: 35px;
  margin: 1vh;
  border-radius: 100%;
  background-color: grey;
}

.terms {
  height: 28vh;
  flex-direction: column;
  border: 0.5px solid black;
}
.terms__text {
  font-family: Helvetica;
  color: grey;
  padding: 1vh 0;
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  .footer, .footer-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
  }

  .footer-middle {
    padding: 1vh;
  }

  .footer-middleone__option-two, .footer-middletwo__option-two {
    display: none;
  }

  .terms {
    height: 13vh;
  }

  .terms__first-row, .footer-link__first-row, .footer-link__second-row, .terms__second-row, .terms__third-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .terms__text {
    padding: 1vh;
  }

  .footer-link, .terms {
    display: flex;
    flex-direction: column;
    padding: 1vh;
  }
}

/*# sourceMappingURL=style.css.map */
