<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <link rel="stylesheet" href="sass/style.css">
  <title>Profile</title>
</head>

<body>

  <div class="container">
    <header>
      <div><i class="fas fa-cog"></i></div>
      <div>victori</div>
      <div><i class="far fa-user"></i></div>
    </header>

    <main>
      <!-- Component Follow -->
      <section class="follow"></section>

      <!-- Component Post -->
      <section class="post">
        <div>
          <i class="fas fa-th"></i>
          <i style="margin: 10px" class="far fa-id-badge"></i>
        </div>
        <div>
          <div class="post__photo"></div>
          <div class="post__photo"></div>
          <div class="post__photo"></div>
          <div class="post__photo"></div>
          <div class="post__photo post__photo--circle"></div>
          <div class="post__photo"></div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <i class="fas fa-home"></i>
      <i class="fas fa-search"></i>
      <i class="far fa-plus-square"></i>
      <i class="far fa-heart"></i>
      <i class="far fa-user"></i>
    </footer>
  </div>
</body>



</html>