body {
  background-color: yellow;
  border: 10px solid fuchsia;
  padding: 10px
}

h1 {
  cursor: pointer;
}

#action-btn{
  font-size: 2em;
  background-color: red;
  color: #ffffff;
  border: none;
  box-shadow: 2px 2px 10px #000;
  border-radius: 5px;
}

#action-btn:active{
  background-color: brown;
}