<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intagram feed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content">
        <header>
            <h1 class="logo">
                Logo
            </h1>
            <div class="search">
                <p>search</p>
            </div>
            <div class="explore"></div>
            <div class="heart heart--header"></div>
            <div class="login"></div>
        </header>
        <section class="stories">
            <div class="single-story"></div>
            <div class="single-story"></div>
            <div class="single-story"></div>
            <div class="single-story"></div>
            <div class="single-story"></div>
        </section>
        <main class="posts">
            <div class="single-post">
                <div class="single-post__head">
                    <p>username</p>
                </div>
                <div class="single-post__image">
                    <img src="https://fakeimg.pl/375x200/?text=Image">
                </div>
                <div class="single-post__icons">
                    <div class="heart heart--post"></div>
                    <div class="comment-icon"></div>
                    <div class="share-icon"></div>
                </div>
                <div class="single-post__comments">
                    <p>comments...</p>
                </div>
                <div class="single-post__add-comment">
                    <p>Add comment...</p>
                </div>
            </div>
            
        </main>
    </div>
</body>
</html>