<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>With ulgy table</title>
</head>
<body>
    
    <table>
        <tr>
            <th class="head" colspan="3">Header</th> 
        </tr>
        <tr> 
            <th>Nav</th> <th>Main</th> <th>Aside</th> 
        </tr>
        <tr>
            <th colspan="3">Footer</th>
        </tr>
    </table>


        <style>
            table, tr, th {
                border: 1px solid black;
                border-collapse: collapse;
            }
            table {
                width: 100vw;
                height: 100vh;
            }
            
        </style>
</body>
</html>