body{
    background-color: yellow;
    border: 5px solid fuchsia;
}
h1, button {
    cursor: pointer;
}

button {
    text-align: center;
    background-color: red;
    padding: 1% 1.5%;
    width: 30%;
    margin-left: 35%;
    font-size: 2vw;
    color: white;
}

button:active {
    background-color: rgb(100, 1, 1)
}